<html>
<head>
  <title><%current_user%></title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Abril Fatface">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/ui-darkness/jquery-ui.css" />
</head>
<body>

<div class="content">
  <div class="bxslider">
    <img src="/assets/8504924049_5f16a109e7_h.jpg" />
    <li><img src="/assets/8522444133_aeafaf6e59_h.jpg" /></li>
  </div>
  <!-- The activator -->
 <a class="activator" id="activator"></a>
</div>

<%= render 'template' %>

<div id="flash_message">
    <%= raw show_flash%>
</div>

</body>
</html>
