<html>
<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Abril Fatface">

</head>
<body>

<div class="content">
  <!-- The activator -->
  <a class="activator" id="activator"></a>
</div>

<div class="overlay" id="overlay" style="display:none;"></div>
<%= render 'template' %>
</body>

</html>
