*{
  margin: 0px;
  padding: 0px;
}

h5{
  font-family: 'Arbutus Slab', serif;
  font-size: 20px;
}

#container #col1 {
  float:left;
  width:200px;
  padding:10px;
}

#col2outer #col2left {
  width: 330px;
  float: left;
  padding:10px;
}
#col2outer #col2right {
  width: 300px;
  float: right;
  padding:10px;
}
#container #footer {
  clear:both;
  padding:10px;
  border-top: #c00 solid 3px;
}

#agrupar{
  width: 960px;
  margin: 15px auto;
  text-align: left;
}

#cabecera{
  background: #FFFBB9;
  border: 1px solid #999999;
  padding: 20px;
}

.header_items{
  background: -webkit-linear-gradient(#333,black);
  background: -moz-linear-gradient(black,#333);
  background: -o-linear-gradient(black,#333);
  padding-top: 12px;
  padding-top: 12px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 2px solid grey;
  height: 45px;
  color: whitesmoke;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
